@import '~bootstrap/dist/css/bootstrap.min.css';
@import './styles/dark.css';
@import './styles/light.css';

.btn {
  border: none;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.createColl {
  margin: 0;
  color: #fff;
  letter-spacing: .1rem;
} 

.themes {
  gap: 10px;
  display: flex;
  justify-content: flex-end;
}

.login-container {
  width: 500px;
  height: 500px;
  border-radius: 3%;
}

.account {
  opacity: 60%;
  font-size: 15px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.coll {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.card {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
}

.collections-wrapper {
  padding: 50px 20px;
}

li {
  font-size: 12px;
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}
