@import '~bootstrap/dist/css/bootstrap.min.css';
@import './styles/dark.css';
@import './styles/light.css';

.btn {
  border: none;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.createColl { 
  margin: 0;
  margin-right: 5px;
  color: #fff;
  letter-spacing: .1rem;
} 

.themes {
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-container {
  width: 500px;
  height: 500px;
  border-radius: 3%;
}

.account {
  opacity: 60%;
  font-size: 15px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.coll {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 30px;
  justify-content: flex-start;
  margin-left: 50px;
  width: 100%;
  height: fit-content;
}

.card {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wrap {
  display: flex;
  width: 100%;
  padding-bottom: 80px;
  min-height: 100vh;
}

.collections-wrapper {
  padding: 20px 20px;
}

li {
  font-size: 12px;
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.registration-logo {
  cursor: pointer;
}

select {
  height: 20px;
  border: none;
  font-size: 12px;
  border-radius: 7%;
  color: #d5d5d5;
  cursor: pointer;
}

select:focus-visible {
  outline-color: gray;
  outline-width: 1px;
  outline-style: solid;
}

.linkButton {
  border: none;
  background-color: inherit;
  padding: 0;
  margin: 0;
}

#custom-switch {
  cursor: pointer;
}

.link {
  padding-top: 30px;
  display: flex;
  align-items: center;
  min-width: 150px;
  margin-left: 20px;
  font-size: 18px;
  flex-direction: column;
}

.nameColl {
  font-size: 18px;
}

.text-coll {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
}

.coll-height {
  height: 100vh;
} 